POSTGRES_DB=marketplace
POSTGRES_USER=marketplace
POSTGRES_PASSWORD=marketplace
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=marketplace
RABBITMQ_DEFAULT_PASS=marketplace
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
